<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <!-- Condicional para elementos del usuario logueado -->
        <ng-container *ngIf="isLoggedIn">
          <!-- Condicional para el rol de usuario -->
          <ng-container *ngIf="role === 'USER'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['fines']">Mis Multas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['vehicles']">Mis Vehiculos</a>
            </li>
          </ng-container>
          <!-- Condicional para el rol de policía -->
          <ng-container *ngIf="role === 'POLICE'|| role=='ADMIN' || role=='ADMINISTRACION' ">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['agent/fines']">Ver mis multas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['agent/postfine']">Poner una multa</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <form (ngSubmit)="submit()" class="d-flex align-items-center"[formGroup]="SearchForm" >
                <label for="dadw" class="form-label me-2 mb-0">Buscador:</label>
                <select class="form-select me-2" id="Value"formControlName= "Value">
                  <option value="0" [selected]="1">Opciones de busqueda</option>
                  <option value="1">Informacion vehiculo</option>
                  <option value="2">Informacion persona</option>
                  <option value="3">Informacion multa</option>
                  @if(role === 'ADMIN' || role === 'ADMINISTRACION'){
                  <option value="4">Informacion agente</option>
                  }
                </select>
                <input type="text" class="form-control me-2" id="Search" placeholder="Buscar..." aria-label="Search"
                  aria-describedby="button-addon5" formControlName= "Search">
                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">Buscar</button>
              </form>
              <div *ngIf="erros" class="ms-5 alert-danger text-danger" role="alert">
                {{ erros }}
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
          @if(role === 'ADMIN'){
          <a class="nav-link" [routerLink]="['admin']">Panel de administracion</a>
          }
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          @if(role === 'USER'){
          <a class="nav-link" [routerLink]="['update']">{{name}}</a>
          }@else {
            <a class="nav-link" href="#">{{name}}</a>
          }
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>