<footer class="text-white text-center text-lg-start bg-primary">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Acerca del Proyecto</h5>
          <p>
           La funciona de esta aplicacion es la de llevar un control de las multas de los usuarios de una manera mas interactiva y facil de llevar.
          </p>
          <p>
            Esta aplicacion fue creada con el fin de ayudar a los usuarios a llevar un control de sus multas de una manera mas facil y sencilla
          </p>  
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled">
            <li class="mb-3">
              <i class="fas fa-home"></i>
              <span class="ms-2">Madrid,Leganes</span>
            </li>
            <li class="mb-3">
              <i class="fas fa-envelope"></i>
              <span class="ms-2">{{'23jbl@gmail.com'}}</span>
            </li>
            <li class="mb-3">
              <i class="fas fa-phone"></i>
              <span class="ms-2">+34 999999999</span>
            </li>
            <li class="mb-3">
              <i class="fab fa-github"></i>
              <a class="ms-2 text-white" href="https://github.com/JbrandonCL" target="_blank">Mi GitHub</a>
          </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horario de disponibilidad</h5>
  
          <table class="table text-white bg-primary">
            <tbody class="font-weight-normal bg-primary">
              <tr>
                <td>Lunes - Martes:</td>
                <td>8:00 am - 19:00 pm</td>
              </tr>
              <tr>
                <td>Miercoles - Viernes:</td>
                <td>8:00 am - 19:00 am</td>
              </tr>
              <tr>
                <td>Sabados:</td>
                <td>7:00 am - 15:00 pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3 bg-dark text-white" >
      © 2024 Copyright: JBrandon
    </div>
  </footer>
  