<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-4 mb-4">
            <div class="card">
                <a [routerLink]="['list/users']">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="ms-3 align-content-center">
                                    <p class="fw-bold mb-1">Obtener listado Usuarios</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="https://img.freepik.com/vector-premium/icono-perfil-usuario-estilo-plano-ilustracion-vector-avatar-miembro-sobre-fondo-aislado-concepto-negocio-signo-permiso-humano_157943-15752.jpg"
                                            height="300px" width="300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xxl-4 mb-4">
            <div class="card">
                <a [routerLink]="['list/police']">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="ms-3 align-content-center">
                                    <p class="fw-bold mb-1">Obtener listado Policias</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="https://cdn-icons-png.flaticon.com/512/6833/6833600.png"
                                            height="300px" width="300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xxl-4 mb-4">
            <div class="card">
                <a [routerLink]="['list/fines']">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="ms-3 align-content-center">
                                    <p class="fw-bold mb-1">Obtener listado de todas las multas</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="https://cdn-icons-png.flaticon.com/512/6833/6833600.png"
                                            height="300px" width="300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>